#forgotPassword .modal-dialog {
	max-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
}
.clearfix {clear: both;}
.mb-2 {margin-bottom: 2px;}
.mb-5 {margin-bottom: 5px;}
.mb-8 {margin-bottom: 8px;}
.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}
.mb-40 {margin-bottom: 40px;}
.error_message {color: #f00;}
.myProfile ul li {line-height: 40px !important;}
a.button {background: #ff745f;	transition: 0.5s;	color: #fff;	text-align: center;	font-weight: 600;	border: 2px solid #ff745f;	cursor: pointer;display: block;}
.form-group {margin-bottom: 3rem !important;}