@media screen and (max-width:1450px) {
.videoChat h3 {
	margin-top: 115px;
}
.navbar.navbar-expand-lg {
	max-width: 98%;
	margin: auto;
	width: 1580px;
}
}
@media screen and (max-width:999px) {
.navbar.navbar-expand-lg {
	max-width: 95%;
	margin: auto;
	position: relative;
	z-index: 9;
}
.slider.testiSlide {
	width: 90%;
	margin: 45px auto auto;
}
.videoChat h3 {
	margin-top: 65px;
}
.chatGrupLeft h3 {
	font-size: 19px;
}
.setFilt select {
	width: 100%;
	margin-top: 7px;
}
.chatGrupLnner h4 {
	margin-bottom: 5px;
}
.chatGrupRight .setFilt select {
	width: 190px;
}
.chatGrupRight .setFilt span {
	margin: 13px 12px 0 0;
}
.setFiltBu {
	padding: 15px 0 5px 0;
}
.setFiltBu a {
	margin: 0 5px;
	width: 87%;
	display: inline-block;
	margin-bottom: 12px;
}
.innerHead1 {
	padding-top: 85px !important;
}
}
@media screen and (max-width:900px) {
.slider.testiSlide {
	width: 100%;
	margin: 45px auto auto;
}
.videoChat h3 {
	margin-top: 18px;
}
}
 @media screen and (max-width:900px) {
.chatRoom {
	text-align: center;
	padding: 0px 0 30px 0;
}
.textHed {
	font-size: 28px;
}
.textP1 {
	font-size: 16px;
	color: #434343;
}
.btnFixed1 {
	font-size: 17px;
	padding: 5px 0px;
	width: 195px;
}
.navbar-collapse {
	position: absolute;
	left: 0;
	right: 0;
	top: 70px;
	background: #1321a2;
	padding: 15px;
	border-radius: 2px;
	box-shadow: 0px 1px 4px #111fa0;
}
.homeSlide .navbar-nav li a {
	margin: 0px;
}
.homeSlide .navbar-nav li a:hover {
	color: red;
}
.nav-link.login, .nav-link.signUp {
	margin-top: 10px !important;
}
.homeSlide {
	background: #313fc0;
	background-size: cover;
	margin-bottom: 45px;
	padding-top: 60px;
	padding-bottom: 30px;
}
.homeSlide.innerHead {
	margin: 0;
}
.slidemid {
	z-index: 0 !important;
}
.slidemid {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0;
	z-index: 999;
}
.slidemid h2 {
	font-size: 35px;
}
.slidemid p {
	color: #fff;
	font-size: 20px;
}
.btnFixed {
	margin: 35px auto 20px;
}
.couterdiv p {
	font-size: 18px;
}
.couterdiv li {
	padding: 6px 0;
	width: 50px;
	font-size: 25px;
}
.new_poeple h3 {
	font-size: 20px;
}
.say_about {
	background: #313fc0;
	margin-top: 45px;
	padding: 0px 0 80px 0;
}
.couterdiv {
	display: table;
	margin: 45px auto 15px;
	z-index: 999;
}
.say_about h4 {
	margin-top: 50px;
	color: #fff;
}
.giftSti h4 {
	margin: 30px 0 10px 0;
	font-size: 24px;
}
.giftSti p {
	font-size: 16px;
}
.videoChat {
	background: #313fc0;
	margin-top: 25px;
	padding: 50px 0 40px 0;
	position: relative;
}
.homeSlide .uc-shape-devider.uc-shape-devider-bottom {
	display: none;
}
.vidoeChat img {
	width: 70%;
	margin: auto;
	display: block;
}
.videoChat h3, .videoChat p {
	text-align: center;
}
.videoChat .btnFixed1 {
	float: none;
}
.footerT .col-md-3 {
	margin-bottom: 11px;
}
.footerT input[type="submit"] {
	margin-top: 15px !important;
}
.footerM .col-md-4, .footerM .col-md-2 {
	margin-bottom: 3px;
	background: #2837c1;
	padding: 20px 25px;
}
#signUp .modal-dialog {
	max-width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(0%, 0%);
	width: 850px;
	right: 0;
	margin: auto;
	display: table;
}
.logInBoxL {
	display: none !important;
}
.logInBoxR {
	width: 100% !important;
}
.logInBoxR {
	border-radius: 0;
}
#signUp .modal-content, #logIn .modal-content {
	background-color: transparent;
	border: 0;
}
#signUp .logInBoxR, .logInBoxR {
	padding: 30px 30px 15px 30px;
}
#logIn .modal-dialog {
	max-width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(0%, 0%);
	width: 750px;
	right: 0;
	margin: 0 auto;
	display: table;
	width: 100%;
}
.chatDeL .col-lg-3 img {
	width: 100%;
	margin-bottom: 15px;
}
.roomFloOne .detaChatR {
	padding: 0 0px 0 57px;
}
.roomFloIco {
	position: initial;
}
.detaChatR p {
	font-size: 13.5px;
}
.roomFloIco b {
	font-size: 14px;
	margin: 0 10px 0 0px;
}
.homeSlide.innerHead1 {padding-bottom:15px;}
}
@media screen and (max-width:812px) {
.couterdiv.couterdiv1 {
	margin: 20px auto 1px;
	z-index: 0;
}	
.innerSearch {
	margin-top: 5px;
	position: relative;
}
/*.chatGrupLeft {
	margin-top: 0;
}*/

}
@media screen and (max-width:480px) {
.vidoeChat img {
	width: 70%;
	margin: auto;
	display: block;
}
.chatGrupRight.memberPage {
	margin-top: 18px;
}
#signUp .logInBoxR, .logInBoxR {
	padding: 30px 30px 15px 30px;
	height: 100vh;
}
.footerM {
	background: #3847d1;
	padding: 2px 0 0 0;
}
.videoChat {
	text-align: center;
	float: none;
}
.slider.testiSlide {
	width: 80%;
	margin: 45px auto auto;
}
.say_about .slick-next.slick-arrow {
	right: -40px;
}
.say_about .slick-prev.slick-arrow {
	left: -40px;
}
.textHed {
	font-size: 25px;
}
}

@media screen and (max-width:360px) {
.navbar.navbar-expand-lg {
	max-width: 100%;
	padding: 10px 0;
}

}