@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
/* CSS Document */
body {
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Quicksand', sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.boxShe {box-shadow: 2px 1px 3px #ddd;border: 1px solid #eee;display:inline-block;width:100%;border-radius:5px;}
input {
	border: 1px solid #eee;
	background: #fff;
	color: #22;
	float: left;
	width: 100%;
	height: 40px;
	padding: 5px 10px;
	border-radius: 5px;
}
.maindiv {
	display: inline-block;
	width: 100%;
	margin-bottom: 35px;
}
input[type="button"], input[type="submit"] {
	background: #ff745f;
	transition: 0.5s;
	color: #fff;
	text-align: center;
	font-weight: 600;
	border: 2px solid #ff745f;
	cursor: pointer;
}
input[type="button"]:hover, input[type="submit"]:hover {
	background: #fff;
	border: 2px solid #ff745f;
	color: #ff745f;
}
img {
	max-width: 100%;
}
* { box-sizing:border-box;
	margin: 0px;
	padding: 0px;
}
.fw {
	float: left;
	width: 100%;
}
.m10 {
	margin-top: 10px;
}
.m20 {
	margin-top: 20px !important;
}
.m30 {
	margin-top: 30px !important;
}
.m40 {
	margin-top: 40px !important;
}
p, span, label, b, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	color: #434343;
}
a, a:hover {
	text-decoration: none;
	transition: 0.5s;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.tC {
	text-align: center;
}
.tL {
	text-align: left;
}
.tR {
	text-align: right;
}
.textHed {
	font-size: 34px;
	color: #323232;
	font-weight: 600;
}
.textP {
	font-size: 20px;
	color: #434343;
}
.textP1 {
	font-size: 18px;
	color: #434343;
}
.homeSlide {
	background: url(../images/slideBg.jpg) center center no-repeat;
	background-size: cover;
}
.naviMain .navbar-nav li a {
	color: #fff;
	font-weight: 500;
	padding: 5px 15px;
	margin: 0 0 0 15px;
}
.naviMain .fixed-top {
	width: 85%;
	margin: auto;
}
.nav-link.login {
	background: #fff;
	color: #5445ff !important;
	border-radius: 150px;
	padding: 3px 25px !important;
	border: 2px solid #fff;
}
.nav-link.login:hover {
	border: 2px solid #ff745f;
	background: #ff745f;
	color: #fff !important;
}
.nav-link.signUp {
	border: 2px solid #fff;
	border-radius: 150px;
	padding: 3px 25px !important;
	margin: 0 0 0 14px;
}
.nav-link.signUp:hover {
	border: 2px solid #ff745f;
	background: #ff745f;
	color: #fff !important;
}
.slidemid {
	text-align: center;
	margin-top: 245px;
	margin-bottom: 92px;
	z-index: 2;position: relative;
}
.slidemid h2 {
	color: #fff;
	font-size: 55px;
	font-weight: bold;
	margin-bottom: 10px;
}
.naviMain .navbar-nav li a:hover {
	color: #ff745f;
}
.naviMain.innerHead {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
}
.slidemid p {
	color: #fff;
	font-size: 26px;
}
.btnFixed {
	color: #fff;
	font-size: 19px;
	border: 2px solid #fff;
	border-radius: 100px;
	padding: 7px 0px;
	width: 235px;
	display: block;
	margin: 35px auto 120px;
	font-weight: 500;
}
.btnFixed:hover {
	background: #ff745f;
	color: #fff;
	border: 2px solid #ff745f;
}
.couterdiv ul {
	box-shadow: 2px 1px 4px #ddd;
	float: left;
	width: 100%;
	border-radius: 10px;
	position: relative;
	z-index: 999;
}
.couterdiv li {
	float: left;
	padding: 8px 0;
	width: 60px;
	font-size: 30px;
	font-weight: bold;
	color: #ff745f;
	border-right: 1px solid #eee;
	background: #fff;
}
.couterdiv li:first-child {
	border-radius: 7px 0px 0px 7px;
}
.couterdiv li:last-child {
	border-radius: 0px 7px 7px 0px;
	border-right: 0px;
}
.couterdiv {
	display: table;
	margin: 55px auto auto;
	z-index: 999;
}
.couterdiv p {
	font-size: 19px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 10px;
}
.homeSlide .uc-shape-devider-bottom {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik02NDAgMTQwQzI4Ni41NCAxNDAgMCAwIDAgMGgxMjgwUzk5My40NiAxNDAgNjQwIDE0MHoiLz48L2c+PC9zdmc+');
	height: 100px;
	background-size: 100% 100px;
	z-index: 0;
}
.homeSlide {
	display: block;
	clear: both;
	max-width: 100%;
	box-sizing: border-box;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
}
.homeSlide .uc-shape-devider.uc-shape-devider-bottom {
	bottom: -1px;
	transform: rotateX(180deg);
}
.homeSlide .uc-shape-devider {
	position: absolute;
	left: 0px;
	height: 150px;
	width: 100%;
	background-repeat: repeat-x;
	background-size: 100% 150px;
	pointer-events: none;
	z-index:1;
	background-color: transparent;
}
.new_poeple {
	text-align: center;
}
.new_poeple h3 {
	font-size: 25px;
	margin-top: 25px;
	font-weight: 400;
}
.new_poeple h3 span {
	color: #ff745f;
	font-weight: 500;
}
.say_about {
	background: url(../images/say_about.png) center center no-repeat;
	background-size: 100% 100%;
	margin-top: 25px;
	padding: 90px 0 80px 0;
	position: relative;
}
.say_about h4 {
	margin-top: 150px;
	color: #fff;
}
.navbar.navbar-expand-lg {
	max-width:90%;
	margin: auto;width:1580px;
}
.say_about1 {
	background: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 35px 20px;
	margin: 0 10px;
	border: 1px solid #eee;
}
.say_about1 .sayImg {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	margin: 0 auto 16px;
	border: 1px solid #eee;
	padding: 3px;
}
.say_about1 p {
	width: 90%;
	margin: auto;
	font-size: 15px;
}
.say_about1 h5 {
	font-size: 18px;
	font-weight: 600;
	margin-top: 19px;
	margin-bottom: 8px;
}
.say_about1 span {
	font-size: 16px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.saYrating i {
	font-size: 21px;
	margin: 0 3px;
	color: #ffd51f;
}
.fa-star.notR {
	color: #d8d8d8;
}
.slider.testiSlide {
	margin-top: 45px;
}
.say_about::before {
	background: #fff;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 150px;
	bottom: 0;
}
.say_about .slick-prev.slick-arrow {
	background: url(../images/sayAr1.png) left top no-repeat;
	width: 41px;
	height: 41px;
	border: 0;
	font-size: 0;
	cursor: pointer;
	outline: none;
	position: absolute;
	left: -50px;
	top: 35%;
}
.say_about .slick-next.slick-arrow {
	background: url(../images/sayAr2.png) left top no-repeat;
	width: 41px;
	height: 41px;
	cursor: pointer;
	outline: none;
	border: 0;
	font-size: 0;
	position: absolute;
	right: -50px;
	top: 35%;
}
.chatRoom {
	text-align: center;
	padding: 70px 0;
}
.chatRoom h3 {
	margin-bottom: 10px;
}
.btnFixed1 {
	color: #fff;
	font-size: 19px;
	background: #ff745f;
	border: 2px solid #ff745f;
	border-radius: 100px;
	padding: 7px 0px;
	width: 235px;
	text-align: center;
	display: block;
	margin: 35px auto 50px;
	font-weight: 500;
}
.btnFixed1:hover {
	color: #ff745f;
	border: 2px solid #ff745f;
	background: #fff;
}
.videoChat {
	background: url(../images/videoChat.jpg) center center no-repeat;
	background-size: 100% 100%;
	margin-top: 25px;
	padding: 130px 0 80px 0;
	position: relative;
}
.videoChat h3 {
	color: #fff;
	margin-top: 35px;
}
.videoChat p {
	color: #fff;
}
.videoChat h3 {
	color: #fff;
	margin-top: 125px;
	margin-bottom: 6px;
}
.videoChat .btnFixed1 {
	float: left;
}
.vidoeChat {
	margin-top: 25px;
}
.giftSti {
	padding: 80px 0;
}
.giftSti .btnFixed1 {
	float: left;
}
.giftSti h4 {
	margin: 30px 0 10px 0;
}
.footerT {
	background: #313fc0;
	padding: 18px 0;
}
.footerM {
	background: #3847d1;
	padding: 35px 0;
}
.footerM p {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	margin-top: 8px;
}
.fooul h4 {
	color: #fff;
	font-size: 22px;
	margin-bottom: 12px;
}
.fooul ul li {
	float: left;
	width: 100%;
	margin-bottom: 3px;
}
.fooul ul li a {
	float: left;
	width: 100%;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
}
.footerB {
	background: #3e4ee0;
	padding: 10px 0;
	text-align: center;
	color: #fff;
}
.footerB p {
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
}
.footerB p a {
	font-weight: 600;
	color: #fff;
	font-size: 17px;
}
#logIn .modal-dialog {
	max-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
}
.logInBox {
	background: #f3f7ff;
	border-radius: 25px;
}
#logIn .modal-dialog .modal-body {
	padding: 0;
}
#logIn .modal-content {
	background-color: transparent;
}
.logInBoxL {
	float: left;
	width: 45%;
	text-align: center;
	padding: 80px 0;
}
.logInBoxR {
	position: relative;
	float: right;
	width: 55%;
	background: #fff;
	text-align: center;
	padding: 80px 40px 15px 40px;
	border-radius: 0 25px 25px 0px;
	box-sizing: border-box;
}
.logIm {
	margin: 0 0 0 60px;
	display: block;
}
.logBo {
	margin: 0 auto;
	display: block;
	width: 70%;
	margin-top: 65px;
}
.logInBoxR .close {
	position: absolute;
	right: 20px;
	top: 12px;
	border: 2px solid;
	width: 35px;
	height: 35px;
	line-height: 27px;
	border-radius: 100%;
	font-size: 34px;
	padding: 0;
}
.logInBoxR h2 {
	margin-bottom: 35px;
	font-size: 30px;
}
.logFrom {
	position: relative;
}
.logFrom input {transition: 0.5s;
	height: 55px;
	border: 1px solid #f2f2f2;
	border-radius: 55px;
	padding: 5px 55px 5px 20px;
	box-shadow: 3px 4px 4px #eee;
}
.logFrom img {
	position: absolute;
	right: 39px;
	top: 15px;
}
.logFrom {
	position: relative;
	margin-bottom: 20px;
}
.logFrom p input[type="checkbox"] {
	float: left;
	width: auto;
	padding: 0;
	height: auto;
	margin: 6px 12px 0 10px;
}
.logFrom p {
	float: left;
	font-size: 15px;
	font-weight: 500;
	margin-top: 5px;
}
.logFrom a {
	float: right;
	font-size: 15px;
	font-weight: 600;
	color: #6f5cfa;
	margin-top: 5px;
}
.formBtn {
	background: linear-gradient(to bottom, #7563fe 0%, #6e5cf9 30%, #6754f4 63%, #6350f1 100%) !important;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7563fe', endColorstr='#6350f1', GradientType=0 ) !important;
	color: #fff;
	transition: 0.5s;
	border: 0 !important;
	width: auto !important;
	height: auto !important;
	margin: 20px auto auto;
	display: block;
	float: none;
	padding: 9px 45px !important;
	font-size: 20px;
}
.formBtn:hover {
	color: #fff !important;
	opacity: 0.8;
	background: #6350f1;
	background: -moz-linear-gradient(top, #6350f1 0%, #6754f4 37%, #6e5cf9 70%, #7563fe 100%) !important;
	background: -webkit-linear-gradient(top, #6350f1 0%, #6754f4 37%, #6e5cf9 70%, #7563fe 100%) !important;
	background: linear-gradient(to bottom, #6350f1 0%, #6754f4 37%, #6e5cf9 70%, #7563fe 100%) !important;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6350f1', endColorstr='#7563fe', GradientType=0 ) !important;
}
.logFrom span {
	text-align: center;
	font-size: 15px;
	font-weight: 500;
}
.logFrom span a {
	float: none;
	font-weight: 600;
	color: #ff745f;
	font-size: 16px;
}
#signUp .modal-dialog {
	max-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 850px;
}
.logInBox {
	background: #f3f7ff;
	border-radius: 25px;
}
#signUp .logInBoxL {
	width: 40%;
}
#signUp .logInBoxR {
	width: 60%;
}
#signUp .logInBoxR {
	padding: 80px 30px 15px 30px;
}
#signUp .modal-dialog .modal-body {
	padding: 0;
}
#signUp .modal-content {
	background-color: transparent;
}
.navbar-expand-lg .navbar-toggler-icon {
	background-image: url(../images/menu.svg);
}
.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
	border: 1px solid #fff;
}


.logFrom em {
	position: absolute;
	right: 40px;
	top: 14px;
}


.icon01, .icon02, .icon03, .icon04{
	background:url(../images/sprites.png) no-repeat;
}

.icon01{
	background-position: 0 0;
	width: 21px;
	height: 21px;
}

.icon02{
	background-position: -47px -4px ;
	width: 22px;
	height: 22px;
}

.icon03{
	background-position: -95px -6px ;
	width: 27px;
	height: 21px;
}

.icon04{
	background-position: -145px -3px ;
	width: 23px;
	height: 26px;
}


.logFrom input:focus {
	box-shadow: 2px 3px 5px #777;
}



/*Start Pages CSS*/
.homeSlide.innerHead1 {
	/* background: #716eff; */
	/* background: -moz-linear-gradient(-45deg, #716eff 0%, #6562fe 30%, #5552ff 68%, #4e4bff 100%); */
	/* background: -webkit-linear-gradient(-45deg, #716eff 0%,#6562fe 30%,#5552ff 68%,#4e4bff 100%); */
	/* background: linear-gradient(135deg, #716eff 0%,#6562fe 30%,#5552ff 68%,#4e4bff 100%); */
	/* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#716eff', endColorstr='#4e4bff',GradientType=1 ); */
	background: #313fc0;
	padding-top: 75px;
	padding-bottom: 0;
}
.innerSearch {
	margin-top: 25px;position:relative;
}

.innerSearch input {
	border-radius: 100px;
	padding: 5px 20px;
	height: 50px;
}
.innerSearch input[type="submit"], .innerSearch input[type="button"] {
	background: url(../images/seach.png) 17px 9px no-repeat #ff745f;
	border-radius: 0 100px 100px 0px;
	width: 70px;
	position: absolute;
	right: -1px;
	font-size: 0;
}
.couterdiv.couterdiv1 ul li {
	width: 50px;
	text-align: center;
	padding: 1px 0;
}

.couterdiv.couterdiv1 p {
	text-align: center;
	color: #fff;
	margin-top: 10px;
	font-size: 15px;
}

.couterdiv.couterdiv1 ul {
	margin-bottom: 5px;
}

.couterdiv.couterdiv1 {
	display: table;position:relative;
	margin: 25px 0 25px 0;
	z-index:0;
}

.chatGrupLeft {
	margin-top: 45px;
}

.chatGrupLeft h3 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 24px;
}

.chatGrupLnner {
	margin-top: 0;
	float: left;
}
.chatGrupLnner h4 {
	background: #f7f7f7;
	padding: 12px 20px;
	font-size: 19px;
	color: #505050;
	font-weight: 300;
	margin-bottom: 15px;
}
.chatGrupLnner h4 i {
	font-size: 20px;
	margin: 0 5px 0 0;
}

.setFilt {
	display: inline-block;
	width: 100%;
	padding: 5px 20px;
}
.setFilt span {
	margin-top:6px;
	float: left;
	font-size:15px;
}

.setFilt select {
	background: url(../images/searrow.png) 93% 13px no-repeat;
	float: right;
	width: 190px;
	border: 1px solid #eee;
	height: 38px;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 400;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
.setFiltBu {
	text-align: center;
	border-top: 1px solid #eee;
	margin-top: 15px;
	padding:25px 0;
	display: inline-block;
	width: 100%;
}
.viewB {
	background: #ff745f;
	color: #fff;
	border: 1px solid #ff745f;
	padding: 7px 20px;
	border-radius: 100px;
	font-weight: 500;
	font-size: 15px;
}
.viewB:hover {background: #fff;
	color: #959393;border:1px solid #959393;}
.setFiltBu a {
	margin: 0 5px;
	width: 40%;
	display: inline-block;
}
.cleraA {
	background: #fff;
	color: #6c6c6c;border:1px solid #959393;
	padding: 7px 20px;
	border-radius: 100px;
	font-weight: 500;
	font-size: 15px
}
.cleraA:hover {background: #ff745f;
	color: #fff;
	border: 1px solid #ff745f;}
	
.chatGrupRight {
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 45px;
}
	
.chatGrupRight .setFilt {
	float: right;
	padding: 0;
	width: auto;
}
.chatGrupRight .setFilt span {
	margin: 6px 12px 0 0;
}	

.chatGrupRbox {
	padding: 15px 21px;
	margin-top: 16px;
}
.chatGrupRbox .col-12.col-md-6.col-lg-4 {padding-left:8px;padding-right:8px;}
.grupRbox {
	display: inline-block;position:relative;
	width: 100%;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-bottom: 15px;
}
.grupRbox img {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #eee;
	border-radius: 5px 5px 0 0;
	margin-bottom: 15px;
	height: 160px;
}
.grupRbox h3 {
	font-size: 16px;
	padding: 0 12px;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.grupRbox p {
	font-size: 13px;
	padding: 0 12px;
	width: 100%;
	font-weight: 400;
	margin-top: 7px;
	line-height: 20px;
}
.grupRbox span {
	float: right;
	font-size: 13px;
	margin: 0 10px 0 0;
}
.grupRbox span {
	float: right;
	font-size: 13px;
	margin: 0 10px 0 0;
	padding-bottom: 10px;
}
.chatGrupRight .cleraA {
	margin: 30px auto auto;
	display: table;
}

.chatGrupRight.memberPage {
	margin-top: 78px;
}

.chatGrupRight.memberPage .grupRbox h3 {
	text-align: center;
	font-weight: 600;
}

.chatGrupRight.memberPage p {
	text-align: center;
	margin-top: 10px;
}
.chatGrupRight.memberPage .grupRbox p img {
	width: auto;
	height: auto;
	margin: 0 3px 0 0;
	padding: 0;
}
.chatGrupRight.memberPage .grupRbox {
	padding-bottom: 15px;position:relative;
}

.viewMem {
	position: absolute;
	left: 0;
	top: 0;border-radius: 5px;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	padding-top: 50%;
	opacity: 0;
	pointer-events: none;
}
.viewMem:hover {color:#fff;}
.viewMem p {position:absolute;left:50%;top:50%;}

.chatGrupRight .grupRbox:hover .viewMem {opacity:1;pointer-events: auto;}

.ageFilt {
	float: right;
	width: 190px;
}

.ageFilt input {
	width: 70px;
	float: left;
}
.ageFilt .leRI {
	float: right;
}

.homeSlide.innerHead {
	padding: 5px 0;transition: 0.5s;
}
.chatDeL {
	margin-top: 46px;
	padding: 15px;
}

.chatDeLB1 span {
	float: left;
	font-size: 14px;
	margin: 0 10px 0 0;
}
.chatDeLB1 span a {
	color: #ff745f;
	font-weight: 500;
}
.chatDeLB1 span i {
	color: #6b6b6b;
	margin: 0 0 0 2px;
	font-size: 15px;
}
.chatDeLB1 {
	display: inline-block;
	width: 100%;
}

.chatDeLB h3 {
	font-size: 19px;
	font-weight: 600;
	margin-bottom: 7px;
	margin-top: 3px;
}

.chatDeLB p {
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 4px 0;
}
.chatDeLB b {
	font-size: 13.5px;
	font-weight: normal;
	font-weight: 500;
}
.chatDeLB b em {
	font-style: normal;
	color: #ff745f;
}

.grating {
	margin-top:15px;
	display: inline-block;
	width: 100%;
}
.grating i {
	float: left;
	margin: 0 9px 0 0;
	font-size: 20px;
	color: #d8d8d8;
}
.ratiCo {color:#ffd51f !important;}

.chatDeLB .viewB {
	padding: 7px 30px;
	margin: 15px 0 5px 0;
	display: inline-block;
}

.detaChatT {
	padding: 3px 15px 15px 15px;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;position:relative;
}
.detaChatT span {
	position: absolute;
	left: 16px;
	top: 6px;
}
.detaChatT span img {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	border: 1px solid #eee;
}
.detaChatR {
	float: left;
	width: 100%;position:relative;
	padding: 0 0 0 55px;
}
.detaChatR h3 {
	font-size: 16px;
	margin: 2px 0 3px 0;
}
.detaChatR p {
	font-size: 14px;
}
.detaChatR label {
	position: absolute;
	right: 0;
	top: 2px;
	font-size: 14px;
	color: #8c8c8c;
	font-weight: 500;
}
.detaChatR p img {
	width: 20px;
	float: left;
	margin: 3px 7px 0 0;
}
.chatText {
	
	padding: 10px 25px;
	font-size: 13px;
}
.chatText1 {
	background: #f8f8f8;
	padding: 9px 16px;
}
.chatDeL .col-lg-3 img {
	width: 100%;
}

.prodeLto {
	background: #f4eeff;
	padding: 25px 15px;
	position: relative;
}
.prodeLto span img {
	width:70px;
	height:70px;
	border-radius: 100%;
	border: 3px solid #fff;
}
.prodeLto span {
	position: absolute;
	left: 15px;
	top: 26px;
}

.prodeLto h5 {
	font-size: 21px;
	font-weight: 600;
	padding: 0 0 0 80px;
	margin: 5px 0 4px 0;
}

.prodeLto b {
	padding: 0 0 0 83px;
	font-size: 14px;
	font-weight: 400;
}

.prodeLto p {
	padding: 0 0 0 83px;
	font-size: 13px;
	font-weight: 500;
}
.prodeLbo {
	padding: 15px 20px;
}

.prodeLbo span {
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 7px;
	display: inline-block;
}
.prodeLbo p {
	font-size: 14px;
	margin-bottom: 7px;
	display: inline-block;
	line-height: 22px;
}

.detaChat01 .detaChatT {
	border-bottom: 1px solid #eee;
}

.detaChat.detaChat01 .cleraA {
	margin: 10px auto 15px;
	display: table;
	padding: 5px 25px;
}

.detaChat.detaChat01 {
	margin-top: -7px;
}
.myphto {
	margin-top: 16px;
}

.myphto h3 {
	padding: 15px 25px;
	border-bottom: 1px solid #eee;
	font-size: 20px;
	font-weight: 600;
}

.myphto1 {
	float: left;
	width: 100%;
	padding: 20px 30px;
	box-sizing: border-box;
}

.myphto1 img {
	width: 100%;border:1px solid #eee;padding:1px;border-radius:5px;
}

.myphto1 .col-12.col-md-6.col-lg-3 {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom:9px;
}

.roomFlo {
	margin-top: 25px;
}


.chagCo {
	background: #f4eeff !important;
	padding: 12px 20px !important;
	font-size: 19px !important;
}
.roomFloOne {position:relative;}

.roomFloOne .detaChatT {
	padding: 10px 15px;
	box-sizing: border-box;
	float: left;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #eee;
}
.roomFloOne .detaChatT:last-child {border:0px;}
.roomFloOne .detaChatT span img {
	height: 45px;
	width: 45px;
	border-radius: 3px;
}
.roomFloOne .detaChatT span {
	top: 11px;
}

.roomFloOne .detaChatR {
	float: left;
	width: 100%;
	position: relative;
	padding: 0 150px 0 57px;
}

.roomFloIco {
	position: absolute;
	right: 0;
	top: 10px;
}

.roomFloIco b {
	font-size: 15px;
	font-weight: 500;
	color: #a8a8a8;
	margin: 0 0 0 8px;
}

.nav_top.naviBg {
	background: #313fc0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10;
	padding: 0px;
	box-shadow: 0px 1px 9px #2230b1;
}

.naviMain .navbar-nav li.active a {
	color: #ff745f;
}