/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Jul, 2019, 1:14:04 AM
    Author     : Himanshu Vyas
*/

.error_message { color: #f00;}
.form-control {border: 1px solid #ccc !important;}
.btn {border: 1px solid #ccc !important; }
.file-upload-browse {padding: 0.500rem 2.5rem !important;}
.content-wrapper {padding: 0.75rem 2.25rem !important;}
.grid-margin, .purchase-popup{margin-bottom: 1.5rem !important;}
.card .card-body {padding: 1.5rem 1.5rem !important;}